<div class="container">
    <div class="row">
        <div class="col-md-12">
         <!-- Button trigger modal -->
         <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
           Add Department
         </button>
         <!-- Modal -->
         <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
             <div class="modal-dialog" role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h5 class="modal-title">Add Department</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                             </button>
                     </div>
                     <div class="modal-body">
                        <form action="" [formGroup]="departmentForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="Department Name">Department Name</label>
                                     <!-- <input type="text" placeholder="Department Name" formControlName="deparmentName"> -->
                                </div>
                                <div class="colo-md-8" >
                                     <input type="text" placeholder="Department Name"  formControlName="departmentName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="Faculty">Faculty</label>
                                     <!-- <input type="text" placeholder="Department Name" formControlName="deparmentName"> -->
                                </div>
                                <div class="colo-md-8">
                                    <div class="btn-group">
                                            <div >
                                            <a class="dropdown-item" style="background-color: wheat !important;" href="#" *ngFor="let f of facultyData" (click)="getFacultyId(f.FacultyId)" >{{f.FacultyName}}</a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button" (click)="onFormSubmit()">Submit</button>
                            </div>
                            
                        </form>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         <button type="button" class="btn btn-primary">Save</button>
                     </div>
                 </div>
             </div>
         </div>

         <table>
             <thead></thead>
             <tbody>
                 <tr>
                     <th>Department Name</th>
                     <th></th>
                     <th>Faculty Name</th>
                 </tr>
                 <tr *ngFor="let dep of departments">
                     <td>{{dep.DepartmentName}}</td>
                     <td></td>
                     <td>{{dep.Faculty.FacultyName}}</td>
                 </tr>
             </tbody>
         </table>
        </div>
    </div>
</div>